<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=holding.client.username) }}">
                <img src="{{ holding.client.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
                <a href="{{ url_for('main.user', username=holding.client.username) }}">
                    {{ holding.client.username }}
                </a>
            {% endset %}
            {{holding.client.username}}
            <br>
            <span id="holding{{ holding.id }}">{{ holding.ticker , holding.company , holding.purchase_price
                ,holding.amount  , holding.value}} </span>
        </td>
    </tr>
</table>
