    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=transaction.client.username) }}">
                    <img src="{{ transaction.client.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=transaction.client.username) }}">
                        {{ transaction.client.username }}
                    </a>
                {% endset %}
                {{ transaction.client.username }} Purchased {{ moment(transaction.timestamp).fromNow() }}:
                <br>
                <span id="transaction{{ transaction.id }}">{{ transaction.buy_or_sell, transaction.amount, transaction.ticker,
                    transaction.purchase_price }} </span>
            </td>
        </tr>
    </table>
